.container-fluid {
    background-color: rgb(234, 231, 231);
    height: 700px;
}

.login {
    margin: 100px auto;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: bold;
}

.card-header {
    background-color: rgb(18, 43, 31);
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

input {
    border: 2px solid rgb(18, 43, 31);
}


.btn {
    width: 50%;
    font-weight: bold;
    letter-spacing: 1px;

}