.card {
    border-radius: 20px;
    font-size: 18px;
}

.card-header {
    text-align: center;
    background-color: rgb(251, 251, 247);
    font-family: 'Times New Roman';
    font-weight: bold;
    font-size: 25px;
    padding: 30px;
    color: rgb(15, 21, 189);
    border-radius: 20px 20px 0px 0px;
}

.card-body {
    background: none;
}

.profile {
    margin: 50px auto;
}

tbody {
    box-shadow: 10px 10px 40px 20px rgb(223, 222, 222);
}

th {
    padding: 20px;
}
.btn{
    width: 50%;
}