.title {
    margin: 30px auto;
    color: rgb(130, 11, 11);
    font-weight: bold;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;

}

.login {
    margin: 20px auto;
}

.card {
    border: none;
    background: none;
    font-weight: bold;
    font-size: 15px;
}

.btn {
    width: 50%;
    background-color: rgb(39, 75, 3);
    color: whitesmoke;
}
input{
    border: 2px solid;
}
a{
    text-decoration: none;
    color: rgb(57, 57, 150);
    font-family:  'Times New Roman';
    font-size: 18px;
}
.ereg{
    float: right;
}