.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;
  background-color: rgb(244, 247, 250);
}

.sidenav .mat-toolbar {
  background-color: rgb(37, 2, 80);
  color: whitesmoke;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.active{
  background-color: rgb(183, 222, 209);
}
