
.container-fluid{
    background-color: rgb(243, 243, 245);
    height: 700px;
}
.login{
    margin: 100px auto;
    text-align: center;
}
.card-header{
background-color: rgb(18, 43, 31);
color: white;
}
.card-body{
background-color: whitesmoke;
}
label{
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}
input{
    border: 2px solid  rgb(18, 43, 31) ;
}
.btn{
    width: 50%;
    font-weight: bold;
    letter-spacing: 1px;
}