<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 login">
            <div class="card">
                <div class="card-header">
                    <h1>Customer Login</h1>
                </div>
                <div class="card-body">
                    <form [formGroup]="loginForm" (ngSubmit)="login()">
                        <div class="form-outline mb-4">
                            <label class="form-label">User Name</label>
                            <input type="email" class="form-control " formControlName="username" />

                        </div>

                        <div class="form-outline mb-4">
                            <label class="form-label">Password</label>
                            <input type="password" class="form-control " formControlName="password" />
                        </div>
                        <div>
                            <button type="submit" class="btn  btn-primary">Login</button>
                        </div>
                        <div class="mt-2">
                            <h3>Not a member? <a routerLink="/home/customer-signup">Register</a></h3>
                        </div>
                    </form>
                </div>
            </div>


        </div>
    </div>
</div>