<div class="container-fluid bg-white">
    <div class="row">

        <h1 class="title">Existing Bank Account Details</h1>
        <div class="col-sm-10 login">
            <div class="card">
                <form>
                    <div class="row mt-2">
                        <div class="col-sm-4">
                            <div class="form-outline mb-4">
                                <label class="form-label">Customer Name</label>
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-outline mb-4">
                                <label class="form-label">Bank Name</label>
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-outline mb-4">
                                <label class="form-label">Branch</label>
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-outline mb-4">
                                <label class="form-label">IFSC Code</label>
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-outline mb-4">
                                <label class="form-label">Aadhar Number</label>
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-outline mb-4">
                                <label class="form-label">Account Number</label>
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-outline mb-4">
                                <label class="form-label">Account Login password</label>
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-outline mb-4">
                                <label class="form-label">Full Name</label>
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-outline mb-4">
                                <label class="form-label">Father Name</label>
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-outline mb-4">
                                <label class="form-label">State</label>
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-outline mb-4">
                                <label class="form-label">Full Address</label>
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                    </div>

                </form>
                <div class="text-center">
                    <button type="button" class="btn mb-4 mt-2" routerLink="/home/customer-login">Send Request</button>
                </div>
            </div>

        </div>
    </div>
</div>