.transfer {
    margin: 20px auto;
    font-weight: bold;
}

.card {
    background-color: rgb(252, 242, 229);
    padding: 40px;
}

.btn {
    width: 100%;
    font-weight: bold;
    letter-spacing: 1px;
}

.amount {
    font-size: 18px;
}

.ta {
    margin-top: 40px;
}

.ic {
    float: right;
    color: red;
}

.title {
    margin-top: 10px;
    color: rgb(13, 18, 95);
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;

}