.change {
    margin: 60px auto;
    font-weight: bold;
}

.card {
    padding: 30px;
    border: none;
}

h1 {
    text-align: center;
    color: brown;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 30px;

}

.btn {
    background-color: green;
    font-weight: bold;
    letter-spacing: 1px;
    width: 50%;
    color: whitesmoke;
}

label {
    font-size: 16px;
}

input {
    border: 1px solid rgb(43, 43, 44);
}