<div class="row g-0">
    <h1 class="bg-dark p-5 text-center text-white">BANKING</h1>
    <div class="col-sm-6 main-image">
        <img class="" src="assets/images/Banking.jpg" alt="" width="100%" height="500px">
    </div>
    <div class="col-sm-6">
        <h1 class="bg-secondary text-white text-center p-2 mt-2">Banking Solution</h1>
        <h2 class="m-4">A bank is a financial institution that is licensed to accept checking and savings deposits and
            make loans.
            Banks also provide related services such as individual retirement accounts (IRAs), certificates of deposit
            (CDs), currency exchange, and safe deposit boxes.

            There are several types of banks including retail banks, commercial or corporate banks, and investment
            banks.

            In the U.S., banks are regulated by the national government and by the individual states.
            There are several types of banks including retail banks, commercial or corporate banks, and investment
            banks.

            In the U.S., banks are regulated by the national government and by the individual states.</h2>
    </div>
</div>