.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background-color: rgb(37, 2, 80);
  color: whitesmoke;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.Active{
  background-color: rgb(221, 221, 215);
}
.space {
  flex: 1 1 auto;
}