.transfer{
margin: 50px auto;
font-weight: bold;
}
.card{
    background-color: rgb(252, 242, 229);
    padding: 40px;
}
.btn{
    width: 100%;
    font-weight: bold;
    letter-spacing: 1px;
}
.amount{
    font-size: 18px;
}
.ta{
    margin-top: 40px;
}