.card {
    border-radius: 5px;
    font-size: 18px;
}

.card-header {
    text-align: center;
    font-family: 'Times New Roman';
    font-weight: bold;
    font-size: 25px;
    padding: 30px;
    color: rgb(189, 122, 15);
    border-radius: 5px 5px 0px 0px;
}



.profile {
    margin: 50px auto;
}

tbody {
    box-shadow: 10px 10px 40px 20px rgb(250, 243, 243);
}

th {
    padding: 20px;
}
.btn{
    width: 50%;
}