
.title{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: rgb(135, 45, 220);
    font-size: 35px;
}
hr{
    margin-bottom: 20px;
    border-top: 2px solid rgb(5, 0, 7);
}
.bankform{
    margin: 100px auto;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Times New Roman';
}
input{
    border: 2px solid rgb(106, 106, 120);
}
.card{
    padding: 50px;
}
.btn{
    width: 30%;
    margin: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 20px;
}