<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 login">
            <div class="card">
                <div class="card-header">
                    <h1>Admin Login</h1>
                </div>
                <div class="card-body">
                    <form [formGroup]="loginForm" (ngSubmit)="login()">
                        <div class="form-outline mb-2">
                            <label class="form-label">User Name</label>
                            <input type="email" id="form1Example1" class="form-control " formControlName="username" />

                        </div>

                        <div class="form-outline mb-4">
                            <label class="form-label">Password</label>
                            <input type="password" id="form1Example2" class="form-control "
                                formControlName="password" />
                        </div>
                        <div>
                            <button type="submit" class="btn">Login</button>
                        </div>


                    </form>
                </div>
            </div>


        </div>
    </div>
</div>