
.container-fluid{
    background-color: rgb(235, 235, 232);;
    height: 700px;
    // background-image: url("/assets/images/Banking.jpg");
    // background-repeat: no-repeat;
    // background-size: cover;
    // height: 701px;
}

.login{
    margin: 100px auto;
    text-align: center;
}
.card{
    border: none;
   
}
input{
    border: 2px solid rgb(51, 34, 91);
}
h1{
    font-family: 'Times New Roman';
}


label{
    font-weight: bold;
    font-family: 'Times New Roman';
    font-size: 18px;
}
.btn{
    width: 50%;
    background-color: rgb(15, 46, 147);
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
}