.table {
    width: 100%;
   
}
h1{
    margin: 0;
    padding: 10px;
    background-color: rgb(221, 221, 223);
    text-align: center;
    color: rgb(8, 0, 0);
}

.table> :not(caption)>*>* {
    padding: 10px;
    font-size: 15px;
    vertical-align: middle;
}

.t-header {
    background-color: rgb(145, 73, 147);
    color: white;
}

.t-body {
    background-color: white;
}

.custom-scrollbar {
    position: relative;
    overflow: auto;
}

.ic {
    float: right;
    color: red;
}