<div class="" mat-dialog-close="true">
    <h1 class="">Customer Transactions Details <span class="ic"><mat-icon>close</mat-icon></span> </h1>
</div>
<div class="container">
    <div class="row table-responsive custom-scrollbar">
        <table class="table">
            <thead class="t-header sticky-top">
                <tr>
                    <th scope="col">S.No</th>
                    <th scope="col">From Name</th>
                    <th scope="col">From Account</th>
                    <th scope="col">To Name</th>
                    <th scope="col">To Account</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Date</th>
                </tr>
            </thead>
            <tbody class="t-body">
                <tr *ngFor="let m of userTransactionList index as i">
                    <td>{{i+1}}</td>
                    <td>{{m.customerName}}</td>
                    <td>{{m.fromActNumber}}</td>
                    <td>{{m.holdername}}</td>
                    <td>{{m.toActNumber}}</td>
                    <td class="text text-primary"><b>{{m.amount}}</b></td>
                    <td class="text text-muted">{{m.date | date:'EEEE dd-mm-yyyy [ hh:mm a ]'}}</td>

                </tr>
            </tbody>
        </table>
    </div>
</div>